* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar-left, .navbar-right {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

/* .navbar-right {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
} */

.navbar-left > a {
  text-decoration: none;
  padding: 5%;
}

.mapContainer {
  display: flex;
  justify-content: flex-end;
}

#map {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  align-self: center;
}

@media (max-width: 500px) {
  .mapContainer {
    flex-direction: column;
  }
  #map {
    height: 50vh;
  }
}


.sidebar {
  display: flex;
  flex-direction: column;
}

#selectionContainer {
  height: 30vh;
  width: 30vw;
  z-index: 2;
}
